:root {
    --colorTheme: rgb(113, 12, 4);
    --colorPassive: rgb(0, 0, 0);
    --colorActive: rgb(82, 9, 3);
    --colorText: rgb(255, 255, 255);
    --colorIcon: rgb(255, 255, 255);
    --sizeTextButton: 16;
}

.button {
    width: 60px;
    height: 60px;
    opacity: 0.5;
    background-color: var(--colorPassive);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    overflow: visible;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    transition-duration: 0.25s;
}

.button:hover {
    width: 60px;
    height: 60px;
    opacity: 0.5;
    background-color: var(--colorTheme);
    scale: 1.05 1.05 1.05;
    transition-duration: 0.25s;
}

.button:checked {
    width: 60px;
    height: 60px;
    opacity: 1;
    background-color: var(--colorTheme);
    scale: 1.05 1.05 1.05;
    transition-duration: 0.25s;
}

.buttonStart {
    width: 60px;
    height: 60px;
    opacity: 0.5;
    background-color: var(--colorPassive);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    overflow: visible;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.buttonEnd {
    width: 60px;
    height: 60px;
    opacity: 0.5;
    background-color: var(--colorPassive);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    overflow: visible;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.dropDown {
    background-color: var(--colorTheme);
    opacity: 1;
    width: 120px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
}

.dropDown:hover {
    background-color: var(--colorTheme);
    opacity: 1;
}

.unity-popup-field__input {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.unity-base-popup-field__text {
    color: var(--colorText);
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.unity-base-popup-field__arrow {
    -unity-background-image-tint-color: var(--colorIcon);
}

.submenus {
    display: flex;
    transition-duration: 0.25s;
}

.submenusHidden {
    display: none;
    translate: 219px 0;
    opacity: 0;
    transition-duration: 0.25s;
}

.unity-toggle {
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    transition-duration: 0.25s;
}

.unity-toggle > .unity-toggle__input > #unity-checkmark {
    background-color: rgb(0, 0, 0);
    -unity-background-image-tint-color: rgb(255, 255, 255);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-size: 55% 55%;
    opacity: 0.5;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    transition-duration: 0.25s;
}

.unity-toggle:hover > .unity-toggle__input > #unity-checkmark {
    background-image: url("project://database/Assets/Icons/Add.png?fileID=2800000&guid=20a73c4cbbc9a784cafac7bc4a13f0a7&type=3#Add");
    background-color: var(--colorTheme);
    -unity-background-image-tint-color: rgb(255, 255, 255);
    opacity: 0.4;
}

.unity-toggle:active .unity-toggle__input > #unity-checkmark {
    background-image: url("project://database/Assets/Icons/Add.png?fileID=2800000&guid=20a73c4cbbc9a784cafac7bc4a13f0a7&type=3#Add");
    background-color: var(--colorTheme);
    -unity-background-image-tint-color: rgb(255, 255, 255);
    opacity: 0.4;
    scale: 0.95 0.95 0.95;
}

.unity-toggle:checked .unity-toggle__input > #unity-checkmark {
    background-image: url("project://database/Assets/Icons/Add.png?fileID=2800000&guid=20a73c4cbbc9a784cafac7bc4a13f0a7&type=3#Add");
    background-color: var(--colorTheme);
    -unity-background-image-tint-color: rgb(255, 255, 255);
    opacity: 1;
}

#createTBtn .unity-toggle__input > #unity-checkmark {
    background-image: url("project://database/Assets/Icons/Add.png?fileID=2800000&guid=20a73c4cbbc9a784cafac7bc4a13f0a7&type=3#Add");
    background-size: 50% 50%;
}

#listenTBtn .unity-toggle__input > #unity-checkmark {
    background-image: url("project://database/Assets/Icons/Listen.png?fileID=2800000&guid=df64452fdc7d6954eb9eb7d5dc2ddfc0&type=3#Listen");
}

#solveTBtn .unity-toggle__input > #unity-checkmark {
    background-image: url("project://database/Assets/Icons/ConflictSolve.png?fileID=2800000&guid=180114ce9f061d1498ebb1683b1eeec7&type=3#ConflictSolve");
    background-size: 80% 80%;
}

#settingsTBtn .unity-toggle__input > #unity-checkmark {
    background-image: url("project://database/Assets/Icons/Settings.png?fileID=2800000&guid=44d100d5cff7b214aba1823b09cb11b8&type=3#Settings");
}

.unity-toggle_start {
    border-bottom-right-radius: 0;
}

.unity-toggle_start > .unity-toggle__input > #unity-checkmark {
    border-bottom-right-radius: 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 0;
}

.unity-toggle_end {
    border-bottom-right-radius: 0;
}

.unity-toggle_end > .unity-toggle__input > #unity-checkmark {
    border-bottom-right-radius: 40px;
    border-top-right-radius: 0;
}

#rotorTBtn .unity-toggle__input > #unity-checkmark {
    background-image: url("project://database/Assets/Icons/RotorType.png?fileID=2800000&guid=fdb3c61cb9365f846a06d2b7975338e2&type=3#RotorType");
}

#fixedWingTBtn .unity-toggle__input > #unity-checkmark {
    background-image: url("project://database/Assets/Icons/Fixed%20Wing%20Type.png?fileID=2800000&guid=8191d99e70fa840488e94e9dd44c897e&type=3#Fixed Wing Type");
}

.popup-root {
    width: 300px;
    padding: 8px;
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    transition-duration: 0.25s;
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition-property: opacity;
}

.popup-root > .unity-text-field > .unity-text-field__input {
    background-color: rgba(0, 0, 0, 0);
}

.title {
    unity-font-style: bold;
    margin-bottom: 6px;
    font-size: 20px;
    -unity-text-align: upper-center;
}

.button-row {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
}

.button_popup {
    width: auto;
    opacity: 1;
    overflow: visible;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    align-items: auto;
    justify-content: flex-start;
    align-self: auto;
    align-content: auto;
    flex-grow: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    visibility: visible;
    background-color: var(--colorActive);
    -unity-background-scale-mode: scale-to-fit;
    background-position-y: bottom 0;
    background-position-x: left 0;
    background-size: 100px 100px;
    background-image: none;
}

.button_popup:hover {
    opacity: 1;
    scale: 1.02 1.02 1.02;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-color: var(--colorActive);
}

.button_popup:active {
    opacity: 1;
    scale: 1 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-color: rgb(217, 0, 0);
}

.hidden {
}

.unity-slider__input > #unity-drag-container > #unity-dragger {
    align-self: auto;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 57px;
    border-top-right-radius: 57px;
    border-bottom-right-radius: 57px;
    border-bottom-left-radius: 57px;
    -unity-background-scale-mode: scale-to-fit;
    background-size: cover;
    flex-grow: 1;
    align-items: auto;
    align-content: auto;
    width: 26px;
    height: 26px;
    scale: 0.7 0.7 0.7;
    background-color: var(--colorActive);
}

.unity-slider__input > #unity-drag-container > #unity-dragger:hover {
    align-self: auto;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 57px;
    border-top-right-radius: 57px;
    border-bottom-right-radius: 57px;
    border-bottom-left-radius: 57px;
    -unity-background-scale-mode: scale-to-fit;
    background-size: cover;
    flex-grow: 1;
    align-items: auto;
    align-content: auto;
    width: 26px;
    height: 26px;
    background-color: var(--colorActive);
    scale: 1 1;
    transition-property: scale;
    transition-duration: 0.25s;
}

.unity-slider__input > #unity-drag-container > #unity-tracker {
    background-color: var(--colorIcon);
}

.unity-slider__input > #unity-drag-container > #unity-tracker > #unity-fill {
    background-color: var(--colorActive);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.unity-slider__input > #unity-drag-container > #unity-tracker {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-color: var(--colorPassive);
}

.unity-slider__input > #unity-drag-container > #unity-dragger:active {
    align-self: auto;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 57px;
    border-top-right-radius: 57px;
    border-bottom-right-radius: 57px;
    border-bottom-left-radius: 57px;
    -unity-background-scale-mode: scale-to-fit;
    background-size: cover;
    flex-grow: 1;
    align-items: auto;
    align-content: auto;
    width: 26px;
    height: 26px;
    background-color: var(--colorActive);
    scale: 1 1;
}

#mainMenuRoot > #conflictSolverRoot > #solveConflictBtn {
    background-color: rgb(113, 12, 4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#mainMenuRoot > #conflictSolverRoot > #solveConflictBtn:hover {
    background-color: rgb(113, 12, 4);
    scale: 1.02 1.02 1.02;
}

#mainMenuRoot > #conflictSolverRoot > #solveConflictBtn:active {
    scale: 1 1;
    background-color: rgb(156, 17, 6);
}

.popupHidden {
    display: none;
    translate: 451px 0;
    opacity: 1;
    transition-duration: 0.2s;
}

.popup {
    display: none;
    translate: 219px 0;
    opacity: 0;
    transition-duration: 0.25s;
}

.unity-foldout__toggle:hover .unity-foldout__input > #unity-checkmark {
    background-image: url("project://database/Assets/Modules/UI/UI%20Toolkit/UnityThemes/UnityDefaultRuntimeTheme.tss?fileID=-1304905567622442630&guid=c9726be8b8f93474c9566f62da390c4b&type=3#arrow-down@2x");
    background-color: rgba(0, 0, 0, 0);
}
