:root {
    --colorTheme: rgb(113, 12, 4);
    --colorPassive: rgb(56, 6, 2);
    --colorActive: rgb(156, 17, 6);
    --colorText: rgb(255, 255, 255);
    --colorIcon: rgb(255, 255, 255);
    --sizeTextButton: 16;
}

.timeSliderButton {
    opacity: 1;
    overflow: visible;
    background-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-size: contain;
    -unity-background-scale-mode: scale-to-fit;
    align-self: center;
    background-position-y: center;
    background-position-x: center;
    align-content: auto;
    flex-grow: 1;
    align-items: auto;
    justify-content: flex-start;
    flex-direction: row;
    width: auto;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition-duration: 0.25s;
}

.timeSliderButton:hover {
    opacity: 1;
    overflow: visible;
    background-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-size: contain;
    -unity-background-scale-mode: scale-to-fit;
    align-self: center;
    background-position-y: center;
    background-position-x: center;
    align-content: auto;
    flex-grow: 1;
    align-items: auto;
    justify-content: flex-start;
    flex-direction: row;
    width: auto;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    -unity-background-image-tint-color: var(--colorActive);
    scale: 1.3 1.3 1.2;
    transition-duration: 0.25s;
}

.timeSliderButton:active {
    opacity: 1;
    overflow: visible;
    background-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-size: contain;
    -unity-background-scale-mode: scale-to-fit;
    align-self: center;
    background-position-y: center;
    background-position-x: center;
    align-content: auto;
    flex-grow: 1;
    align-items: auto;
    justify-content: flex-start;
    flex-direction: row;
    width: auto;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    -unity-background-image-tint-color: var(--colorActive);
    scale: 1 1;
    transition-duration: 0s;
}

.timeSliderPlayState {
    opacity: 1;
    overflow: visible;
    background-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-size: contain;
    -unity-background-scale-mode: scale-to-fit;
    align-self: center;
    background-position-y: center;
    background-position-x: center;
    align-content: auto;
    flex-grow: 1;
    align-items: auto;
    justify-content: flex-start;
    flex-direction: row;
    width: auto;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("project://database/Assets/Icons/PauseFull.png?fileID=2800000&guid=61b360a9253a4df45b67577e8c2659d5&type=3#PauseFull");
}

.timeSliderPauseState {
    opacity: 1;
    overflow: visible;
    background-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-size: contain;
    -unity-background-scale-mode: scale-to-fit;
    align-self: center;
    background-position-y: center;
    background-position-x: center;
    align-content: auto;
    flex-grow: 1;
    align-items: auto;
    justify-content: flex-start;
    flex-direction: row;
    width: auto;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("project://database/Assets/Icons/PlayFull.png?fileID=2800000&guid=209fe31deeb373e4baef0e8f38e6d4c7&type=3#PlayFull");
}

#timeSlider > .unity-slider__label {
    display: none;
}

#timeSlider > .unity-slider__input {
    background-color: rgba(0, 0, 0, 0);
    -unity-background-image-tint-color: rgba(255, 255, 255, 0);
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
    color: rgb(0, 0, 0);
}

#timeSlider > .unity-slider__input > #unity-drag-container {
    height: auto;
}

#timeSlider > .unity-slider__input .unity-text-field__input {
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    color: var(--colorText);
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    -unity-text-align: upper-center;
    font-size: 16px;
}

#maxTimeField > #unity-text-input {
    background-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    color: var(--colorText);
    -unity-text-align: upper-center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-size: 16px;
}

#currentTimeField > #unity-text-input {
    background-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    color: var(--colorText);
    -unity-text-align: upper-center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-size: 16px;
}

#timeSliderRoot > #VisualElement > #timeSlider > .unity-slider__input > #unity-drag-container > #unity-dragger {
    align-self: auto;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 57px;
    border-top-right-radius: 57px;
    border-bottom-right-radius: 57px;
    border-bottom-left-radius: 57px;
    -unity-background-scale-mode: scale-to-fit;
    background-size: cover;
    flex-grow: 1;
    align-items: auto;
    align-content: auto;
    width: 26px;
    height: 26px;
    scale: 0.7 0.7 0.7;
    background-color: var(--colorActive);
}

#timeSliderRoot > #VisualElement > #timeSlider > .unity-slider__input > #unity-drag-container > #unity-dragger:hover {
    align-self: auto;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 57px;
    border-top-right-radius: 57px;
    border-bottom-right-radius: 57px;
    border-bottom-left-radius: 57px;
    -unity-background-scale-mode: scale-to-fit;
    background-size: cover;
    flex-grow: 1;
    align-items: auto;
    align-content: auto;
    width: 26px;
    height: 26px;
    background-color: var(--colorActive);
    scale: 1 1;
    transition-property: scale;
    transition-duration: 0.25s;
}

#timeSliderRoot > #VisualElement > #timeSlider > .unity-slider__input > #unity-drag-container > #unity-tracker {
    background-color: var(--colorIcon);
}

#timeSliderRoot > #VisualElement > #timeSlider > .unity-slider__input > #unity-drag-container > #unity-tracker > #unity-fill {
    background-color: var(--colorActive);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#timeSliderRoot > #VisualElement > #timeSlider > .unity-slider__input > #unity-drag-container > #unity-tracker {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-color: var(--colorPassive);
}

#timeSliderRoot > #VisualElement > #timeSlider > .unity-slider__input > #unity-drag-container > #unity-dragger:active {
    align-self: auto;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 57px;
    border-top-right-radius: 57px;
    border-bottom-right-radius: 57px;
    border-bottom-left-radius: 57px;
    -unity-background-scale-mode: scale-to-fit;
    background-size: cover;
    flex-grow: 1;
    align-items: auto;
    align-content: auto;
    width: 26px;
    height: 26px;
    background-color: var(--colorActive);
    scale: 1 1;
}
