:root {
    --colorTheme: rgb(113, 12, 4);
    --colorPassive: rgb(0, 0, 0);
    --colorActive: rgb(82, 9, 3);
    --colorText: rgb(255, 255, 255);
    --colorIcon: rgb(255, 255, 255);
}

.button {
    width: 60px;
    height: 60px;
    opacity: 0.5;
    background-color: var(--colorPassive);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    overflow: visible;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.button:hover {
    width: 60px;
    height: 60px;
    opacity: 0.5;
    background-color: var(--colorTheme);
    scale: 1.05 1.05 1.05;
}

.button:checked {
    width: 60px;
    height: 60px;
    opacity: 1;
    background-color: var(--colorTheme);
    scale: 1.05 1.05 1.05;
}

.buttonStart {
    width: 60px;
    height: 60px;
    opacity: 0.5;
    background-color: var(--colorPassive);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    overflow: visible;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.buttonEnd {
    width: 60px;
    height: 60px;
    opacity: 0.5;
    background-color: var(--colorPassive);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    overflow: visible;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.toggleButtonGroup {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.dropDown {
    background-color: var(--colorTheme);
    opacity: 1;
    width: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.dropDown:hover {
    background-color: var(--colorTheme);
    opacity: 1;
    scale: 1.05 1.05 1.05;
}

.unity-popup-field__input {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.unity-base-popup-field__text {
    color: var(--colorText);
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.unity-base-popup-field__arrow {
    -unity-background-image-tint-color: var(--colorIcon);
}

.hidden {
    display: none;
}
